@model IEnumerable<AForgeHack.Database.Event>
@{
    ViewBag.Title = "Events";
}
<div class="row">
    <div class="col-lg-12">
        <h1>Events</h1>
        <p class="lead">Here are the active events.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <table class="table table-condensed table-striped">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/Events/Details/@item.EventID" title="View Details"><span class="glyphicon glyphicon-search"></span></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>